useDynLib(greeks)


export(
       # contract 
       contract,
       as.contract,
       as.combo,
       is.combo,

       # greek calculation
       greeks,
       call.value,
       put.value,

       # binomial
       CRRtree,
       JRtree,
       LRtree,

       # skewness & kurtosis adjustments
       JarrowRuddSkewKurtosis,
       CorradoSuSkewKurtosis,
       ModifiedCorradoSuSkewKurtosis,

       # jump diffusion models
       JumpDiffusionMerton,
       JumpDiffusionBates,

       # greeks methods (not yet S3!!!)
       greeks.JDM,
       greeks.JDB,

       # osi
       as.osi,
       is.osi,
       try.osi,

       # osi extraction
       expiry,
       right,
       strike,
       tte,
       underlying,

       # expiration calendar
       optionsExp,
       nextExp,

       # payoff
       payoff
      )

S3method(as.contract, osi)
S3method(as.contract, character)
S3method(as.contract, contract)

S3method(as.osi, contract)
S3method(as.osi, default)

S3method(print, greeks)

S3method(Ops, osi)
S3method(print, osi)

S3method(as.data.frame, osi)

S3method(plot, payoff)
